// Place all the styles related to the Buying controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
    color: #781b23;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}