// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/370/291/non_2x/vector-colourful-spring-flower-pattern-seamless.jpg");
    background-repeat: repeat;


}

.whitebox {
    background-color: white;
    opacity: 85%;
}

.container {
    background-color: white;
    opacity: 85%;
}

.card-body {
    background-color: rgb(182, 182, 182);
}